<ul>
  <li *ngFor="let starwars of results">
    {{ starwars.title }} <button type="button" (click)="detalle(starwars)"> Mostrar Detalle y Personajes </button>  <button
     type="button" (click)="borrar()"> Limpiar </button>
  </li>
  <div>{{this.detalleTodo}}</div>
  <li *ngFor="let personaje of nombrePersonajes; let i = index">
    {{personaje.name}} 
    <!-- <button type="button" (click)="detallePeli(i,personaje)">Ver Peliculas</button> -->
  </li>
  <!-- <div *ngFor="let p of nombrePersonajes.nuevaListaPeliculas">
    {{p.title}}
  </div> -->
</ul>

<ng-template #loading>No starwars found</ng-template>